server:
  port: 8000
spring:
  application:
    name: exchange-service-estudo
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3307/exchange_service
    username: root
    password: 1234567
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
    show-sql: false
    open-in-view: false